:root {
  --primary-color: #eddada;
  --light-color: #fffff7;
  --dark-color: #f7f5df;
  --danger-color: #f0af89;
  --fussy-color: #f86872;

  --text-dark-color: #3f3131;
  --text-link-color: #0b0202;

  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.2);
}
